@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: circular;

    src: url("chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Regular.woff2") format("woff2");
}

@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: circular;

    src: url("chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Medium.woff2") format("woff2");
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: circular;

    src: url("chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Bold.woff2") format("woff2");
}

@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: circular;

    src: url("chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Black.woff2") format("woff2");
}

.div {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

.div-2 {
    display: flex;
    max-width: 1440px;
    height: 126px;
    width: 1440px;
    background-color: rgba(137, 244, 254, 1);
}

.div-3 {
    max-width: 178px;
    margin-top: 23px;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Share Tech Mono", sans-serif;
}

@media (max-width: 640px) {
    .div-3 {
        max-width: 183px;
    }
}

.div-4 {
    max-width: 602px;
    margin-top: 23px;
    color: rgba(0, 0, 0, 1);
    font-size: 64px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Share Tech Mono", sans-serif;
}

@media (max-width: 640px) {
    .div-4 {
        max-width: 453px;
    }
}

.div-5 {
    display: flex;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    max-width: 618px;
    width: 618px;
    margin-top: 23px;
}

@media (max-width: 640px) {
    .div-5 {
        width: 324px;
    }
}

.image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.image-sizer {
    width: 100%;
    padding-top: 90.93851132686083%;
    pointer-events: none;
    font-size: 0;
}

.no-purpose-coin-this-coin-has {
    max-width: 644.3085327148438px;
    margin-top: 23px;
    color: rgba(0, 0, 0, 1);
    font-size: 49.277896881103516px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Share Tech Mono", sans-serif;
}

.div-6 {
    max-width: 348px;
    margin-top: 23px;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Share Tech Mono", sans-serif;
}
